// brand colors
$purple-light: #89449a;
$purple-normal: #6f2282;
$purple-dark: #471b5a;

$blue-light: #2bb1dc;
$blue-normal: #009dcc;
$blue-dark: #0087b1;

$pink-light: #f14c9d;
$pink-normal: #e73089;
$pink-dark: #c72272;

// suport colors
$white: #ffffff;
$black-1: #494949;
$gray-1: #c4c4c4;
$gray-2: #e5e5e5;
$gray-3: #8f8f8fa7;


